@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Viga&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
}
.container{
    background-color: #f9faf9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 400px;
}
.container h1{
    text-align: center;
    margin: 50px;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    width: 100%;
    padding:10px 15px ;
    font-size: 16px;
    border: 1px solid #a7a0a1;
    border-radius: 3px;
}
.form-control i.fa-check{
    position: absolute;
    color:rgb(15, 182, 15);
    top: 35px;
    right: 10px;
    visibility: hidden;
}
.form-control i.fa-close{
    position: absolute;
    color:red;
    top: 35px;
    right: 10px;
    visibility: hidden;
}
.form-control input:focus{
    outline: none;
    border: 1px solid #1d1a1a;
}
.form-control small{
    display: block;
    color: red;
    visibility: hidden;
}
.form .btn{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #ff7e33;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: block;
}
.form-control.success input{
    border: 1px solid #31ca15;
}
.form-control.error input{
    border: 1px solid #ec5a36;
}
.form-control.error small{
    visibility: visible;
}